node_modules/
package-lock.json
pnpm-lock.yaml
pnpm-debug.log
dist/
.cache/
*.tgz

data/
*.zip

# debug files
data.json
compressed.json
decompressed.json

# test samples for python
samples

# WIP on csharp branch
csharp/
.venv
.vscode/launch.json
